<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IntegratedServletAndJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>WebsiteName</param-name>
    <param-value>The World's Best Website</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/javaerror.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>lecture464.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>lecture464.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShoppingCart</display-name>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <servlet-class>lecture464.servlet.UpdateShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShoppingCart</servlet-name>
    <url-pattern>/UpdateShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerTransactionConfirmation</display-name>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <servlet-class>lecture464.servlet.CustomerTransactionConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerTransactionConfirmation</servlet-name>
    <url-pattern>/CustomerTransactionConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ContentTypeServlet</display-name>
    <servlet-name>ContentTypeServlet</servlet-name>
    <servlet-class>lecture464.servlet.ContentTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ProductSearchQuery</display-name>
    <servlet-name>ProductSearchQuery</servlet-name>
    <servlet-class>lecture464.servlet.ProductSearchQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchQuery</servlet-name>
    <url-pattern>/ProductSearchQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchResults</display-name>
    <servlet-name>ProductSearchResults</servlet-name>
    <servlet-class>lecture464.servlet.ProductSearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchResults</servlet-name>
    <url-pattern>/ProductSearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrders</display-name>
    <servlet-name>ViewOrders</servlet-name>
    <servlet-class>lecture464.servlet.ViewOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrders</servlet-name>
    <url-pattern>/ViewOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOrders</display-name>
    <servlet-name>ManageOrders</servlet-name>
    <servlet-class>lecture464.servlet.ManageOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOrders</servlet-name>
    <url-pattern>/ManageOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrders</display-name>
    <servlet-name>CancelOrders</servlet-name>
    <servlet-class>lecture464.servlet.CancelOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrders</servlet-name>
    <url-pattern>/CancelOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelUpdate</display-name>
    <servlet-name>CancelUpdate</servlet-name>
    <servlet-class>lecture464.servlet.CancelUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelUpdate</servlet-name>
    <url-pattern>/CancelUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerQA</display-name>
    <servlet-name>CustomerQA</servlet-name>
    <servlet-class>lecture464.servlet.CustomerQA</servlet-class>
    <init-param>
      <param-name>myNumber</param-name>
      <param-value>88</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerQA</servlet-name>
    <url-pattern>/CustomerQA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReviews</display-name>
    <servlet-name>CustomerReviews</servlet-name>
    <servlet-class>lecture464.servlet.CustomerReviews</servlet-class>
    <init-param>
      <param-name>myNumber</param-name>
      <param-value>88</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReviews</servlet-name>
    <url-pattern>/CustomerReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>lecture464.servlet.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
</web-app>